.colorized {
    width: 400px;
    height: 400px;
    background-color: red;
}

.new-color {
    background-color: aquamarine;
}

.main-section {
    width: 960px;
    margin: 0 auto;
}

#contact-form {
    margin: 15px 0;
}

#contact-form input {
    display: block;
    margin-bottom: 5px;
    width: 100% ;
}

#loading-img {
    display: none;
    width: 150px;
}

.box-wrapper {
    display: flex;
    gap: 5px;
}

.box  {
    width: 150px;
    height: 150px;
    border: 1px solid black;
    background-color: orange;
    display: none;
}

section {
    width: 100%;
    padding-block: 50px;    
}

#search-btn {
    border: none;
    background-color: black;
    color: white;
    padding: 18px 30px;
    border-radius: 5px;
    cursor: pointer;
}

.search-input {
    height: 50px;
    // display: none;
    opacity: 0;
    visibility: hidden;
    transition: .5s ease-in-out;

}

.active-input {
    opacity: 1;
    visibility: visible;
}