body {
  width: 100vw;
  height: 100vh;
}
body .slider-container {
  width: 80%;
  height: 80%;
  overflow: hidden;
}
body .slider-container .slide-list {
  display: flex;
  flex-direction: row;
  transition: 0.5 ease-in-out;
  overflow: hidden;
}
body .slider-container .slide-list .slide {
  min-width: 100%;
  height: 100%;
}
body .slider-container .slide-list .slide img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  height: 100%;
}/*# sourceMappingURL=style.css.map */