body {
    width: 100vw;
    height: 100vh;
    
   
    .slider-container {
        width: 80%;
        height: 80%;
        // margin: 0 auto;
        overflow: hidden;
        .slide-list {
            display: flex;
            flex-direction: row;
            transition: .5 ease-in-out;
            overflow: hidden;
            .slide {
                min-width: 100%;
                height: 100%;

                img{
                    width: 100%;
                    object-fit: contain;
                    height: 100%;
                }
                
            }

        }
        
    }
    }
    
