.homework-part-1 div {
  width: 10%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 2rem;
}

table {
  width: 25rem;
}

.homework-part-2 {
  width: 10%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 2rem;
}

.forTable {
  width: 25rem;
}
