body {
   background-color: gray;
   display: flex;
   align-items: center;
   justify-content: center;
}

form {    
    width: 50%;
    
}

fieldset {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

fieldset input {
    width: 70%;
    height: 2em;
}

fieldset button {
    position: relative;
    right: 285px;
    width: 6em;
    height: 3em;
}
