body {
  width: 100vw;
  height: 100vh;

  .main {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;

    .form-wrapper,
    .result-wrapper {
      flex-grow: 1;
      padding: 20px;
    }

    .form-wrapper {
      form {
        width: 80%;

        .input-group {
          margin-bottom: 15px;

          label {
            display: block;
            padding: 10px;
            font-size: 16px;
          }

          input,
          textarea {
            padding: 18px 10px;
            width: 100%;
          }
        }
      }
    }

    .result-wrapper {
      .form-group {
        input {
          padding: 18px 10px;
        }
        label {
          display: block;
          padding: 10px;
          font-size: 16px;
        }
      }
    }
  }
}
